name: Main CI Build Workflow

on:
  pull_request:
    types:
      - opened

jobs:
  initial_steps:
    runs-on: ubuntu-latest

    steps:
    
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest
